@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  /* blanco */
  --foreground: 0 0% 10%;
  /* negro */
  --muted: 0 0% 95%;
  /* gris claro */
  --muted-foreground: 0 0% 45%;
  --card: 0 0% 98%;
  --primary: 330 100% 50%;
  /* rosa fuerte */
}

.dark {
  --background: 240 20% 5%;
  /* azul oscuro */
  --foreground: 0 0% 88%;
  /* gris claro */
  --muted: 240 20% 12%;
  --muted-foreground: 0 0% 65%;
  --card: 240 15% 10%;
  --primary: 330 100% 50%;
}